.fix_box{width:1060px;margin:0 auto 16px;background:#fff;font-family:"Microsoft YaHei";}
.fix_box h3{border-bottom:1px solid #dbb553;height:70px;padding-top:35px;font-size:20px;font-weight:bold;}
.fix_box i{heigth:24px;border-left:3px solid #dbb553;margin:0 13px 0 30px;}
.fix_box table{margin:20px 30px;}
.fix_box tr{font-size:16px;border:1px solid #d2d2d2;color:#333;}
.fix_box th{background:#ededed;width:168px;}
.fix_box td{padding:7px 40px;box-sizing:content-box;line-height:26px;height:38px;}
.fix_box:last-child{margin-bottom:0;}

#fix{background:#ebebeb;margin:0 auto;padding-top:144px;}
#fix_order{height:56px;border-bottom:2px solid #dbb553;padding:0 30px;}
#tel400{font-size:16px;font-weight:bold;float:right;height:56px;line-height:56px;padding-left:50px;background:url('fix.png') 0 -2px no-repeat;}
#fix_title{font-size:22px;float:left;color:#dbb553;height:56px;line-height:56px;}

#fix_summary{height:266px;float:left;width:66%;border-right:1px solid #dbb553;padding:0 30px;}
.order_info{height:266px;float:left;width:34%;position:relative;padding-top:56px;}
.order_info .info_input{height:39px;width:313px;display:block;border:1px solid #d2d2d2;margin:0 auto 30px;padding:0 5px;color:#848484;font-size:16px;}
.order_info input#go_order{height:49px;border:1px solid #dbb553;background:#dbb553;position:absolute;bottom:0;width:100%;margin-bottom:0;padding:0;color:#fff;font-size:26px;}
.order_info p{text-align:center;}
.order_info_over{padding-top:30px;}
.order_info_over .now{font-size:40px;line-height:1.5}
.order_info_over .last{color:#dbb553;font-size:18px;margin-left:4px;}
#fix_details{height:156px;padding:30px 0;}
#fix_details li{float:left;height:100px;width:20%;border-right:1px dashed #dbb553;padding-top:12px;text-align:left;padding-left:20px;}
#fix_details li:first-child{width:40%;}
#fix_details li:last-child{border-right:0;}
#fix_details li span{display:block;font-size:14px;margin-bottom:23px;}
#fix_details li em{display:block;font-size:28px;color:#dbb553;font-style:normal;}
#fix_details #float_profit{font-size:20px;padding-top:6px;}
#fix_notes{padding-top:43px;border-top:1px solid #dbb553;font-size:18px;color:#dbb553;padding-left:25px;background:url('fix.png') 0 -132px no-repeat;}

#fix_team{padding:20px 30px;}
#fix_team p{line-height:30px;font-size:16px;}
#fix_team p a{color:#74ceff;margin-right:14px;text-decoration:underline;}
#fix_team li{line-height:40px;font-size:14px;padding-left:20px;}
#fix_team li em{color:#dbb553;font-style:normal;padding-left:21px;background:url('fix.png') 0 -330px no-repeat;}
#fix_team #fix_model li{list-style:disc;margin-left:40px;padding-left:0;}
#fix_team span{display:block;padding-left:20px;}

#charts_title{border-bottom:0;}
#charts_tabs{border-bottom:1px solid #dbb553;padding-left:0;}
#charts_tabs li{float:left;height:50px;width:160px;line-height:50px;font-size:16px;background:#f4e9cb;cursor:pointer;text-align:center;border-right:1px solid #ecd9a7;}
#charts_tabs li:last-child{border-right:0;}
#charts_tabs li.on{background:#dbb553;color:#fff;border-right:1px solid #dbb553}
#charts_box{text-align:center;padding:20px 30px;overflow:hidden;}
#charts_box img{display:none;}
#charts_box img.on{display:inline;}




.agreement_em{font-weight:bold;font-style:normal}
.fix_box p{line-height:3}
#agreement #fix{background:#fff;padding-top:84px;}
#agreement .title{text-align:center;font-weight:normal}
.title_box{position:relative;}
.hr_top{position:absolute;border:1px solid #dbb553;margin-left:-50px;bottom:-6px;width:100px;left:50%;}
.bold_p{font-weight:bold}
.check_agreement{position:relative;margin:-20px 0 0 23px;}
.check_agreement input{margin-right:2px;}
#fix_notes .progress_circle{border:4px solid #dbb553;float:left;width:16px;height:16px;border-radius:16px;margin:4px;}
#fix_notes .progress_hint{float:left;}
#fix_notes .progress_box{width:200px;height:10px;position:relative;background:#ebebeb;border-radius:10px;float:left;margin:8px;display:none}
#fix_notes .progress_finish{height:10px;background:#74ceff;position:absolute;left:0;top:0;border-radius:10px;}
#fix_notes .progress_now{float:left;font-weight:bold;display:none;font-size:14px;color:black;}
.agreement_book{text-decoration:underline;color:#74ceff}
.navbar-right{display:none;}
.list-bg{min-height:880px;background-image:url(https://dn-mtigerwit.qbox.me/ba9cb76c4a8654008d4e0ad793c/images/bg-index.png);background-color:#000;background-attachment:fixed;background-repeat:no-repeat;background-position:50% 0}
.list-container{width:1060px;margin:0 auto;padding-top:120px;padding-bottom:120px;}
.h-ul{background-color:rgba(0,0,0,0.4);margin-top:30px;font-size:16px;}
.h-ul-title{border-bottom:1px solid #dbb553;}
.h-ul-title h2{color:#dbb554;line-height:2;font-size:18px;font-weight:normal;margin:0;padding:10px 32px;text-align:left;}
.h-ul-box{}
.h-li-title{}
.h-li{float:left;margin:20px 0px;height:100px;padding:20px 0 30px;}
.h-li-1{background-color:rgba(0,0,0,.4);margin:0;padding:30px 0 30px;height:150px;width:23%}
.h-li-2{border-right:1px dashed  #b29752;width:23%;}
.h-li-3{border-right:1px dashed  #b29752;width:16%;}
.h-li-4{border-right:1px dashed  #b29752;width:16%;}
.h-li-5{padding-top:10px;width:22%}
.h-li-1 .h-li-title{margin:0}
.h-li-title{color:#fff;text-align:center;}
.h-li-detail{color:#23c3f4;text-align:center;font-size:24px;}
.h-li-hint{color:#dbb554;text-align:center;}
.h-li-income{color:#dbb554;font-size:40px;margin-bottom:0}
.h-order{background:#23c3f4;border-radius:20px;display:inline-block;padding:8px 30px;font-size:14px;line-height:1.4;font-weight:400;color:#fff;border:1px solid #23c3f4}
.h-order:hover{background:none;color:#fff;}
.h-arrow{vertical-align:-3px;margin-left:6px;}
.h-pre{background:#dbb553;border:1px solid #dbb553;color:#000;cursor:not-allowed}
.h-pre:hover{background:#dbb553;color:#000}

.clearfix{overflow:hidden;_zoom:1;}
.blue{color:#23c3f4}
.h-order-over{background:#000;border-color:#000}
.h-order-over:hover{background:#000;border-color:#000}
